.task{
	padding-left: 15px;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    width: 300px;
    display: inline-block;
    cursor: pointer;
}
.task input{
    float: right;
}
.task-primary{
    background: rgba(79,79,199,0.21);
    border-left:3px solid #4f4fc7;
    margin-bottom: 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.task-danger{
    background: #fde3e3;
    border-left:3px solid #f38585;
    margin-bottom: 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.task-warning{
    background: rgba(255,235,59,0.31);
    border-left:3px solid #ffeb3b;
    margin-bottom: 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.task-success{
    background: #e3f2d4;
    border-left:3px solid #83bf46;
    margin-bottom: 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.task-info{
    background: rgba(0,0,255,0.1);
    border-left:3px solid rgba(0,0,255,0.7);
    margin-bottom: 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.task-muted{
    background: rgba(0,0,255,0.1);
    border-left:3px solid rgba(0,0,255,0.7);
    margin-bottom: 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 0.6;
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 40px;
    height: 40px;
    /*padding: 8px;*/
    
    background: #f2aefd;

    /*border: 1px solid #3e4f75;*/
    color: #666;
    text-align: center;
    
    font: 19px Arial, sans-serif;
    color:white;
    display: inline-block;
}
.numberCircle p {
	z-index: 100;
	 padding-top: 8px;

}
.section{
    box-shadow: 10px 0px 25px #afafaf;
}
