.second-row td{
	height: 180px;

}

.gradient-table{
	border: 0px  !important;
}
.second-row td{
	border: 4px solid #ddd !important;
	width: 14.28%;
  font-weight: bold;
}

.bottom-to-top {
    border-width: 4px ;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(#ddd), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, #ddd, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, #ddd, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, #ddd, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, #ddd, rgba(0, 0, 0, 0)) 1 100%;
    

    height: 20px;
    margin-left: -2px;
    margin-right: -2px;
}
.top-to-bottom {
    border-width: 4px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#ddd, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#ddd, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#ddd, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #ddd, rgba(0, 0, 0, 0)) 1 100%;

    height: 20px;
    margin-left: -2px;
    margin-right: -2px;
}
.first-row td{
	padding: 0px !important;
	border: 0px !important;
	height: 20px;

}
.third-row td{
	padding: 0px !important;
	border: 0px !important;
	height: 20px;

}
.note{
	background-color: #4cb6ac;
	border-radius: 5px;
	margin: 10px; 
	padding: 10px;
	color: #f7ffff;
	font-weight: bold;
}
.note-warn{
	background-color: #ff8a66; 
	border-radius: 5px;
	margin: 10px; 
	padding: 10px;
	color: #f7ffff;
	font-weight: bold;
}
.note-blue{
  background-color: #339be7; 
  border-radius: 5px;
  margin: 10px; 
  padding: 10px;
  color: #f7ffff;
  font-weight: bold;
}
.note-yellow{
  background-color: #f5e633; 
  border-radius: 5px;
  margin: 10px; 
  padding: 10px;
  color: #f7ffff;
  font-weight: bold;
}
.note-bejovo{
  background-color: #e3a461; 
  border-radius: 5px;
  margin: 10px; 
  padding: 10px;
  color: #f7ffff;
  font-weight: bold;
}
body{
  background: #e5e5e5 !important;
}

.section1{
  background: rgba(33,33,33,0.6);
  background: linear-gradient(90deg, rgba(229, 229, 229, 0.28) 0%, rgba(33,33,33,0.6) 100%);
  background: -moz-linear-gradient(90deg, rgba(229, 229, 229, 0.28) 0%, rgba(33,33,33,0.6) 100%);
  background: -webkit-linear-gradient(90deg, rgba(229, 229, 229, 0.28) 0%, rgba(33,33,33,0.6) 100%);
}

#productDescription{
  color: black;

}
.description {
    min-height: 260px;
    margin-top: 60px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
    text-align: left;
}


.btn-flat {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,.87);
    background-color: rgba(255,255,255,0.7);;
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: .03em;
    position: relative;
    overflow: hidden;
        box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
}
}
 .btn-flat:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
    color: black;
}
