.login{
	width:400px;
	border: 1px solid #a0adaf;
	border-radius: 5%;
	margin: auto;
	margin-top: 10%;
	padding: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
}
.signup{
	width:400px;
	border: 1px solid #a0adaf;
	border-radius: 5%;
	margin: auto;
	margin-top: 5%;
	padding: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}
#icons{
	padding-top:30px;
	padding-left: 4px;
	width:60px;
	height:300px;
	border: 1px solid #a0adaf;
	border-radius: 20px;
    margin-top: 14%;
	position: fixed;
	top: 45%;
	left: 65%;
	transform: translate(-45%, -100%);
}
#unlogged{
	height: 100%;
	background: linear-gradient(to bottom right, #233236, #658c8e); /*Standard*/
}
.input-pad{
	width: 340px;
	background: #778d8e;
	border: #778d8e;
	color:#eef0f1;
	font-weight: 600px;
	font-size: 18px;
}
.login-label{
	color:#b9c7c7;
	font-size: 18px;
	font-weight: 300;
	font-family:  Arial, Helvetica, serif;
}
#profile-box{
	width: 200px;
	height: 150px;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 0 0 100% 100%;
	right:0px;
	position:fixed;
	z-index: 100;
	text-align: center;
}
.profile-pic{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width:116px; 
	height:116px;
	display: block; 
}
#map-trigger{
	display:inline-block;
	position:fixed;
	right:210px;
	top:60px;
	z-index:1000;
	background: white;
	border-radius: 50%;
	width: 45px;
	padding-left: 10px;
	border: 1px solid #e7e7e7;
}
.pointer{
	cursor: pointer;
}
#profile-name{
	margin-top: auto;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.invalid  {
  border-left: 5px solid #a94442 !important; /* red */
}
.ng-pristine:not(form){
	border-left: 5px solid yellow;
}
.login-btn{
	margin-top: 30px;
	width: 100%;
	height: 45px;
	background: #a6b6b7;
	color: #476265;
	font-size: 15px;
}
.signup-btn{
	margin-top: 20px;
	width: 100%;
	height: 45px;
	background: #a6b6b7;
	color: #476265;
	font-size: 15px;
}
.switch{
	margin-top: 5px;
	width: 76px;
	height: 45px;
	background-color:rgba(0, 0, 0, 0);
	border: 2px solid #a6b6b7;
	color: #eef0f1;
	font-size: 15px;
	position: absolute;
	right: 30px;
}