.day{
	height: 90px;
}
.table-responsive{
	overflow-x: hidden;
}
.year-image{
	width: 170px;
	height: 170px;
	margin: auto;
    padding: 10px;
    display: block;
    margin: auto;
	border: 4px solid #337ab7;
}
.left-btn{
	border-radius: 10px 12px 12px 25px;
	width: 30%;
}
.right-btn{
	border-radius: 12px 10px 25px 12px;
	width: 30%;
}
.center-btn{
	border-radius: 12px;
	width: 30%;
}
.side-table{
	height: 300px;
	font-size: 12px;
	margin-left: 10px;
	
}
.side-table tr{
	text-align: center;
	border-bottom: 1px solid #337ab7;
}
.side-table tr td:last-child{
	padding-right: 10px;
}
.side-table tr:last-child{
	border-bottom: none;
}
.inactive{
	color:#b7b7b7;
	/*background: linear-gradient(to top, #e8e8e8, #FFF);*/
}