/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.content{
    margin-top: 70px;
}
 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    box-shadow: 10px -10px 25px #afafaf;
    margin-top: 90px;
    z-index: 1000;
    position: fixed;
    left: 260px;
    width: 0;
    height: 100%;
    margin-left: -260px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 260px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -260px;
}

/* Sidebar Styles */
.change{
    margin-top:10px;
    margin-left: 10px;
    display: block;
}
hide{
    display: none;
}
.info{
    font-size: 18px;
    color:#2e6da4 !important;
    display: block;
    text-align: center;
    text-indent: 0px;
    margin-top: 20px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#side-month-input{
    color: #337ab7 !important;
    font-weight: bold;
}
#side-month-input:hover{
    color: #4595d9;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #337ab7;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    font-weight: bold;
    color: #2e6da4;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #337ab7;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 260px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 260px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
 /*   #map-page-content-wrapper {
        padding: 20px;
        position: relative;
    }*/

    #wrapper.mapToggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Toggle Styles */
#mapbar-wrapper {
    z-index: 1;
    position: fixed;
    right: 45%;
    width: 0;
    height: 100%;
    margin-right: -45%;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.mapToggled #mapbar-wrapper {
    width: 45%;
}
#calendar-content{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}