#img-container{
    width: 200px;
    height: 200px;
    margin-top: -160px;
    background: #f8f8f8;
    border-radius: 100%;
    border: 1px solid #e7e7e7;
    position: absolute;
    z-index: 10;
}
#img-container img {
    margin:5px 0 0 5px;
    width :190px;
    height :190px;
}
#helper{
    margin-top: -145px;
    border-radius: 0 0 100% 100%;
    width: 200px;
    height: 200px;
    background: white;
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #e7e7e7;
}
#colum{
    margin-left:50px;
    margin-top: 210px;
    width: 100px;
    height: 100%;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.invalid  {
  border-left: 5px solid #a94442 !important; /* red */
}
.ng-pristine:not(form){
	border-left: 5px solid #337ab7;
}
.input-pad{
    width: 300px;
}
.new-group{
    border: 1px solid #e7e7e7;
	max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    margin: 20px 5px 5px 5px;
    padding: 0 25px 0 25px;
}
.closed {
	max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.group-select-img{
    width:45px;
    height:45px;
    border-radius: 25%;
}
.search-result{
    margin-top: 10px;
    border:1px solid #e7e7e7;
    height: 60px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
}
.search-result:hover{
    border:3px solid #337ab7;
}
.helper{
    display: inline-block;
    width: 90%;
    font-size: 20px;
    padding-left: 10px;
}
.group-name-help{
    display: inline-block;
    width: 70%;
}
.correct{
    border: 2px solid #5cb85c;
}
.correct:hover{
    border: 3px solid #5cb85c;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}