.left-btn{
	border-radius: 10px 12px 12px 25px;
	width: 30%;
}
.right-btn{
	border-radius: 12px 10px 25px 12px;
	width: 30%;
}
.center-btn{
	border-radius: 12px;
	width: 30%;
}
.hour-btn{
	border-radius: 0px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
	background: white;
	border:0px;
	border-bottom:1px solid #e7e7e7;
	color: #e7e7e7;
	position:relative;
}
.hour-btn:hover{
	color: #474343;
	border-bottom:1px solid #474343;
}
.attachment-btn{
	border-radius: 20px;
}
.attachment-btn:hover{
	color: white;
	border-radius: 10px;
	border: none;
	z-index: 1000;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.year td{
	text-align: center;
	width: 50px;
}
.year{
	height: 800px;
}
.table-responsive{
	overflow-x: hidden;
}
.timing{
	width:100px;
	display: inline-block;
	margin-left: 8px;
}
#appoin-label{
	display: block;
	width: 300px;
	margin-top: 25px;
	margin-bottom: 7px;
}
.color{
	display: inline-block;
	width:23px;
	height:23px;
	border-radius: 25px;
	border:3px solid #e7e7e7;
}
.selected{
	width:25px;
	height:25px;
	border:1px solid #e7e7e7;
}
.first-half{
	width:100px;
}
.opacity:hover{
	opacity: 0.8 !important;
}

