<div class="col-lg-3">
    <div style="margin-top:-100px;">
        <div id="img-container">
            <img src="http://schedule.mvm.bg/profile/{{image}}" class="img-circle profile-pic" id="user_img">
        </div>
        <div id="helper"></div>
        <div id="colum"></div>
    </div>
</div>
<div class="container col-lg-9" >
  <h1>{{model.username}}</h1>
  <!-- Trigger the modal with a button -->
  <button  style="margin-top: 20px;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Edit Profile</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" (click)="Close($event)">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" id="fileForm">&times;</button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <form name="form" (ngSubmit)="Update()" #update="ngForm" novalidate>
        <div class="modal-body">
            <div style="margin-left: 120px">
                    <div class="form-group" [ngClass]="{ 'has-error': update.submitted && !username.valid }" style="margin-top: 30px">
                        <label class="login-label" for="username">User Name:</label>
                        <input type="text" class="form-control input-pad" id="username" name="username" required
                        [(ngModel)]="model.username" #username="ngModel">
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': update.submitted && !email.valid }">
                        <label class="login-label" for="email">Email Address:</label>
                        <input type="text" class="form-control input-pad" id="email" name="email" required
                        [(ngModel)]="model.email" #email="ngModel">
                    </div>

                        <label class="login-label" for="telephone">Telephone:</label>
                        <input type="text" class="form-control input-pad" id="telephone" name="telephone" required
                        [(ngModel)]="model.telephone" #telephone="ngModel">

                        <label class="login-label" for="profession">Profession:</label>
                        <input type="text" class="form-control input-pad" id="profession" name="profession" required
                        [(ngModel)]="model.profession" #profession="ngModel">

                        <!--<label class="login-label" for="pass">Password:</label>
                        <input type="text" class="form-control input-pad" id="pass" name="pass" required
                        [(ngModel)]="model.pass" #pass="ngModel">
                    
                        <label class="login-label" for="pass">Confirm Password:</label>
                        <input type="text" class="form-control input-pad" id="confpass" name="confpass" required
                        [(ngModel)]="model.confpass" #confpass="ngModel" 
                        [class.invalid] = "!passCheck"
                        (keyup)="onKey(confpass.value)">-->

                        <label class="login-label" for="about">About:</label>
                        <textarea type="text" class="form-control input-pad" id="about" name="about" required
                        [(ngModel)]="model.about" #about="ngModel"></textarea>
                        <br>
                        <label class="btn btn-primary btn-file" id="picture-class">
                            Change profile Picture
                            <input type="file" style="display: none;" ng2FileSelect [uploader]="uploader" id="file" (change)="Image($event)">
                            <div *ngIf="upload">Name: {{name}}</div>
                        </label>
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-primary btn" value="1" (click)="Update()" (click)="uploader.uploadAll()"data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
  
</div>