<div id="search-component"(click)="Click()">
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="User Search"/><i class="fa fa-search fa-lg" aria-hidden="true" id="search-icon"></i>
  <div style="position:absolute">
    <div *ngFor="let user of users"
         (click)="gotoUser(user)" class="search-result" >
      <div class="helper">{{user.name}}</div>  <img src="http://schedule.mvm.bg/profile/{{user.img_name}}" class="profile-img">
    </div>
  </div>
</div>
<style>
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    #search-box{
        width: 300px;
        height: 35px;
        border-radius: 25px;
        border:1px solid #e7e7e7;
        padding-left:10px;
        margin-top:8px;
    }
    #search-icon{
        margin-left: -28px;
        color: #3596e0;
    }
    .helper{
        display: inline-block;
        width: 80%;
        font-size: 20px;
        padding-left: 10px;
    }
    .search-result{
        border:1px solid #e7e7e7;
        width: 300px;
        height: 60px;
        padding: 5px;
        background-color: white;
        cursor: pointer;
        border-radius: 15px;
    }
    .profile-img{
        width:45px;
        height:45px;
        border-radius: 25px;
    }
</style>
