<div class="col-lg-3">
    <div style="margin-top:-100px;">
        <div id="img-container">
            <img src="http://schedule.mvm.bg/profile/{{model.img_name}}" class="img-circle profile-pic" id="user_img">
        </div>
        <div id="helper"></div>
        <div id="colum"></div>
    </div>
</div>
<div class="container col-lg-9" >
  <h1>{{model.name}}</h1>
  <button  style="margin-top: 20px;" type="button" class="btn btn-primary btn-lg"
  (click)="Groups()" data-toggle="modal" data-target="#myModal">Create Group with {{model.name}}</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" id="fileForm">&times;</button>
          <h4 class="modal-title">Group Creating</h4>
        </div>
        <div class="modal-body">
            <div *ngFor="let group of groups">
                <div class="search-result" [class.correct]="Check(group)">
                <img src="http://schedule.mvm.bg/profile/{{group.img_name}}" class="group-select-img">
                <div class="helper">
                    <h4 class="group-name-help">{{group.name}}</h4>
                    <button *ngIf="!Check(group)" class="btn-primary btn" (click)="Add(group.id)" >Add {{model.name}}</button>
                    <button *ngIf="Check(group)" class="btn-success btn">Mutal Group</button>
                </div>
                </div>
            </div>
            <button class="btn-primary btn" style="width: 100%; margin-top: 25px;" (click)="newGroup()" id="new-btn"
            >Create New Group</button>
            <div id="new-group" class="new-group">
                <form name="form" (ngSubmit)="Create()" #update="ngForm" novalidate>
                    <label class="login-label" for="gname" style="margin-top: 20px">Group Name:</label>
                    <input type="text" class="form-control" id="gname" name="gname" style="margin-bottom: 15px"
                        required [(ngModel)]="group.name" #name="ngModel">
                    <label class="login-label" for="description">Short Description:</label>
                    <textarea name="description" class="form-control" style="margin-bottom: 15px" required [(ngModel)]="group.description" #name="ngModel"></textarea>
                    <button type="submit" class="btn-primary btn" value="1" style="margin-bottom: 20px; width:100%;">Create</button>
                </form>
            </div>
                
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-danger center" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>