<div class="main">
	<div class="section">
		<div class="row">
			<div class="btn btn-primary center-btn" id="month2" style="margin-left:50px">
				{{month2}}&nbsp;{{year}}
			</div>
			<h3 id="side-month-input" style="display: none">{{month2}}&nbsp;{{year}}</h3>
			<div class="btn btn-primary center-btn">
				<a routerLink ="/schedule/year" routerLinkActive="active" style="color:white">Year</a>
			</div>
			<div class="btn btn-primary center-btn">
				<a routerLink ="/schedule/week" routerLinkActive="active" style="color:white">Week</a>
			</div>
		</div>
		<div class="container">
			<h2>Днес</h2>
		
				<div class="row">
					<div class="col-md-4 col-md-offset-1">
						<div class="row " *ngFor="let item of result; let i = index "  [style.background]="" (click)="tmpTask=item">
							<div class="numberCircle"><p>{{getDayFromDate(item.date)}}</p></div>

							<div  class="task" [ngClass]="getColor(item.color).taskClass">
								<p class="task-text " [ngClass]="getColor(item.color).myClass"><b>{{item.name}}</b></p>
								
								<p class="task-date " [ngClass]="getColor(item.color).myClass">{{getStartEndFromDate(item.start, item.end)}}</p>

							
								<!-- <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="check"></span></span> -->
							</div>
						</div>
					</div>
					<div class="col-md-6">
						
					</div>
				</div>
				<map></map>
				
		</div>
	</div>
</div>


