<div class="table-responsive">
	<div class="row">
		<div class="col-lg-4">
			<div class="btn btn-primary center-btn" id="month2">
				{{month2}}&nbsp;{{year}}
			</div>
			<h3 id="side-month-input" style="display: none">{{month2}}&nbsp;{{year}}</h3>
			<div class="btn btn-primary center-btn">
				<a routerLink ="/schedule/year" routerLinkActive="active" style="color:white">Year</a>
			</div>
			<div class="btn btn-primary center-btn">
				<a routerLink ="/schedule/week" routerLinkActive="active" style="color:white">Week</a>
			</div>
		</div>
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<div>
				<button type="button" class="btn btn-primary left-btn" 
				(click)="Prev()">
					<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
				&nbsp;Prev</button>

				<button type="button" class="btn btn-primary center-btn" 
				(click)="Create(0)">
				Current</button>

				<button type="button" class="btn btn-primary right-btn"
				(click)="Next()">
					Next&nbsp;<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<!-- <div class="col-lg-2"></div> -->
	</div>
	<br>
	<div class="row" id="MonthContainer2">
		<div class="col-lg-12" id="MonthContainer" [@flyInOut]="state">
			
		</div>
	</div>
</div>

