<div class="table-responsive" >
	<div class="row">
		<div class="col-lg-4">
			<div class="btn btn-primary center-btn" id="month2">
				{{month2}}&nbsp;{{year2}}
			</div>
			<div class="btn btn-primary center-btn">
				<a routerLink ="/schedule/year" routerLinkActive="active" style="color:white">Year</a>
			</div>
			<div class="btn btn-primary center-btn">
				<a routerLink ="/schedule/month/{{month}}" routerLinkActive="active" style="color:white">Month</a>
			</div>
		</div>
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<button type="button" class="btn btn-primary left-btn" 
			(click)="Prev()">
				<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
			&nbsp;Prev</button>

			<button type="button" class="btn btn-primary center-btn" 
			(click)="Create(0)">
				
			Current</button>
			<button type="button" class="btn btn-primary right-btn"
			(click)="Next()">
				Next&nbsp;<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<br>
	<div class="row" id="weekContainer2">
		
		<div class="col-lg-12" id="weekContainer" [@flyInOut]="state" (click)="clicked($event)">
		</div>
		
	</div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			 <form name="form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Добави събитие</h4>
				</div>
				<div class="modal-body">
					<p>Време</p>
						<div class="form-group">
							<label for="from">От:</label>
							<input type="time" id="from" name="from" class="form-control timing" required>
							
							<label for="to">До:</label>
							<input type="time" id="to" name="to" class="form-control  timing"	required>
						
							<label for="Appointment" id="appoin-label">Заглавие</label>
							<input type="text" id="appoint" name="appoint" class="form-control" style="width:300px;" required>
						</div>
						<div>
							<div class="color" [ngClass] = "colourVal==1 ? 'selected' : ''"
												style="background: #0275d8" (click)="Color(1)"></div>
							<div class="color" [ngClass] = "colourVal==2 ? 'selected' : ''"
												style="background: #5cb85c" (click)="Color(2)"></div>
							<div class="color" [ngClass] = "colourVal==3 ? 'selected' : ''"
												style="background: #dc2127" (click)="Color(3)"></div>
							<div class="color" [ngClass] = "colourVal==4 ? 'selected' : ''"
												style="background: #9c27b0" (click)="Color(4)"></div>
							<div class="color" [ngClass] = "colourVal==5 ? 'selected' : ''"
												style="background: #ffc107" (click)="Color(5)"></div>
						</div>

						<hr>
						<div id="modal_map" class="row">
							<map-input-cords></map-input-cords>
						</div>
						<input type="hidden" name="latitude" id="lat">
						<input type="hidden" name="longitude" id="lng">
				</div>
				<div class="modal-footer">
					<div class="form-group">
					<button type="submit" class="btn-primary btn" data-dismiss="modal" (click)="Appointment()">Добави</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
					</div>
				</div>
			</form>
    </div>

  </div>
</div>