<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link href="../css/landing.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../css/demo.css" rel="stylesheet" />

</head>

<body class="index-page">
    <!-- Navbar -->
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
                <a href="http://scheduleangular.mvm.bg">
                    <div class="logo-container">
                        
                        <div class="brand">
                            <h4>Schedule</h4>
                        </div>


                    </div>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navigation-index">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-white btn-simple btn-just-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li *ngIf="!user.name ">
                        <a  routerLink ="/login" routerLinkActive="active" class="">
                            Вход
                        </a>
                    </li>
                    <li *ngIf="user.name ">
                        <a  routerLink ="/schedule" routerLinkActive="active" class="">
                            {{user.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('../images/landing.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1>Schedule it</h1>
                            <h3>Планувай на воля</h3>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 col-md-offset-4">
                        <a class="waves-effect waves-teal btn-flat" routerLink ="/schedule" routerLinkActive="active">Използвай</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="main main-raised">
            <div class="section section-basic ">
                <div class="container-fluid">
                        <table class="table table-bordered gradient-table">
                            <tbody>
                                <tr class="first-row">
                                    <td ><div class="bottom-to-top"> </div></td>
                                    <td ><div class="bottom-to-top"> </div></td>
                                    <td ><div class="bottom-to-top"> </div></td>
                                    <td ><div class="bottom-to-top"> </div></td>
                                    <td ><div class="bottom-to-top"> </div></td>
                                    <td ><div class="bottom-to-top"> </div></td>
                                    <td><div class="bottom-to-top"> </div></td>
                                </tr>
                                <tr class="second-row">
                                    <td>25</td>
                                    <td>26<div class="row"><div class="note-bejovo col-md-10">Преглeдай лесно</div> </div></td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>31</td>
                                </tr>
                                <tr class="second-row ">
                                    <td>
                                    1
                                    <div class="row"><div class="note col-md-10">Добави бързо</div> </div>
                                    </td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4<div class="row"><div class="note-warn col-md-10">Не помниш всичко</div></div></td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                </tr>
                                <tr class="second-row">
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12<div class="row"><div class="note-yellow col-md-10">Преглeдай лесно</div> </div></td>
                                    <td>13</td>
                                    <td>14</td>
                                </tr>
                                <tr class="third-row">
                                    <td><div class="top-to-bottom"></div></td>
                                    <td><div class="top-to-bottom"></div></td>
                                    <td><div class="top-to-bottom"></div></td>
                                    <td><div class="top-to-bottom"></div></td>
                                    <td><div class="top-to-bottom"></div></td>
                                    <td><div class="top-to-bottom"></div></td>
                                    <td><div class="top-to-bottom"></div></td>
                                </tr>
                            </tbody>
                         </table>
                 




                 
            </div>
        </div>
        <!--section features and description-->
        <div class="section section-basic section-tabs text-center section-landing">
                <div class="container-fluid">
                    <div class="row">
                        <div class="description text-center col-md-offset-2 col-md-8" id="productDescription" aria-expanded="false">
                            

                            <span itemprop="description" >
                                    Със Schedule лесно задавате задачи на децата вкъщи и на работниците във фирмата. Когато настъпи моментът, всеки един от тях получава известие от приложението на телефона и не се налага да помни всяка една задача за деня.
                            </span>
                        </div>
                    </div>
                    <!-- features-->
                        <div class="row">
                            
                            <div class="col-md-4">
                                 <div class="info">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">home</i>
                                        </div>
                                        <h4 class="info-title">Използвай вкъши</h4>
                                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                 <div class="info">
                                        <div class="icon icon-success">
                                            <i class="material-icons">work</i>
                                        </div>
                                        <h4 class="info-title">Използвай за работа</h4>
                                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                 <div class="info">
                                        <div class="icon icon-danger">
                                            <i class="material-icons">people</i>
                                        </div>
                                        <h4 class="info-title">Използвай с приятели</h4>
                                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                    </div>
                            </div>
                        </div>
                        <!--end features-->
                    
                </div>
        </div>
        <!--end section features and description-->

        <!--section with inapp features and images -->
        <div class="section section-basic section-black text-center section-landing">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <h2 class="info-title">Lorem Ipsum Dolor Amet</h2>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../images/laptop.png" class="img img-responsive">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img src="../images/laptop.png" class="img img-responsive">
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <h2 class="info-title">Lorem Ipsum Dolor Amet</h2>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <h2 class="info-title">Lorem Ipsum Dolor Amet</h2>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../images/laptop.png" class="img img-responsive">
                    </div>
                </div>

            </div>
        </div>
        <!--end section with inapp features and images -->

        <div class="section text-center">
            <div class="container">
                    <h2 class="title">Това сме ние</h2>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-1">
                                <div class="team-player">
                                    <img src="../images/ioko.jpg" alt="Thumbnail Image" class="img-raised  img-circle">
                                    <h4 class="title">Йоан Стоянов <br>
                                        <small class="text-muted">WEB програмист </small>
                                    </h4>
                                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                <div class="team-player">
                                    <img src="../images/koce.png" alt="Thumbnail Image" class="img-raised img-circle ">
                                    <h4 class="title">Виктор Колев<br>
                                        <small class="text-muted">WEB програмист </small>
                                    </h4>
                                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>




    </div>
</div>



    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com">
							Creative Tim
						</a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
						   About Us
						</a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
						   Blog
						</a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
							Licenses
						</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2016, made with <i class="material-icons">favorite</i> by Creative Tim for a better web.
            </div>
        </div>
    </footer>

    <!-- Sart Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named
                        Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts
                        it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple">Nice Button</button>
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->

<!--   Core JS Files   -->
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/material.min.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="../js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="../js/material-kit.js" type="text/javascript"></script>

<script type="text/javascript">
    $().ready(function() {
        // the body of this function is in ../material-kit.js
        materialKit.initSliders();
        window_width = $(window).width();

        if (window_width >= 992) {
            big_image = $('.wrapper > .header');

            $(window).on('scroll', materialKitDemo.checkScrollForParallax);
        }

    });
</script>
</body>


</html>