<div id="unlogged">
    <div class="row">
        <a routerLink ="/signup" routerLinkActive="active" class="switch btn">Sign up</a>
        <div id="login" class="login">
            <form name="form" (ngSubmit)="log.form.valid && login()" #log="ngForm">
                <img src="src/profile.svg" class="img-circle profile-pic">
                <div class="form-group" [ngClass]="{ 'has-error': log.submitted && !email.valid }" style="margin-top: 30px">
                    <label class="login-label" for="email">Email Address:</label>
                    <input type="text" class="form-control input-pad" id="email" name="email" required
                    [(ngModel)]="model.email" #email="ngModel">
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': log.submitted && !pass.valid }">
                    <label class="login-label" for="pass">Password:</label>
                    <input type="text" class="form-control input-pad" id="pass" name="pass" required
                    [(ngModel)]="model.pass" #pass="ngModel">
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="login-btn btn">Login</button>
                    
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
        <!--<div id="icons"></div>-->
    </div>
</div>