
<div id="map"></div>
<style>
    .sebm-google-map-container {
        height: 100%;
        width: 1000px;
        z-index: 0;
    }
    #map{
    	height: 300px;
        width: 100%;
        z-index: 0;
    }
</style>