<nav class="navbar navbar-default" style="position: fixed; width: 100%;z-index: 80">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="/">Schedule It</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>-->
      </ul>
      <ul class="nav navbar-nav navbar-left">
            <li ><a routerLink ="/schedule" routerLinkActive="active">Последни</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 170px">
            <li><user-search></user-search></li>
            <li><a routerLink ="/schedule/profile" routerLinkActive="active"  id="profile-name" style="font-size: 20px">Name</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="profile-box">
    
    <img src="http://schedule.mvm.bg/profile/{{image}}" class="img-circle img-raised profile-pic" id="profile-pic"> 
    <!-- google -->
    <!-- <a href="#" onclick="signOut();">Sign out</a> -->
    <a routerLink ="/login" routerLinkActive="active">Sign out</a>
</div>
<a  (click)="da()" id="map-trigger" class="pointer">
<i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></a>     
      
<div id="wrapper" [ngClass] = "isChecked ? 'toggled' : ''">
    <div id="calendar-content">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="content">
        <ul class="sidebar-nav" [ngClass] = "isChanged ? 'hide' : ''">
            <span class="change pointer" (click)="Change()" [ngClass] = "isChanged ? 'hide' : ''"><i class="fa fa-user fa-2x" aria-hidden="true"></i></span>
            <li class="sidebar-brand">
                <a href="#" style="text-indent:0px;text-align: center;" id="side-month">

                </a>
            </li>
            <li id="side-img"></li>
            <br>
            <li id="month"></li>
        </ul>
        <ul class="sidebar-nav" [ngClass] = "isChanged ? '' : 'hide'">
            <span class="change pointer" (click)="Change()" [ngClass] = "isChanged ? '' : 'hide'"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></span>
            <li>
                <a href="#" class="info">
                    <h3 class="side-month-input" id="side-name">Name</h3>
                </a>
            </li>
            <li class="info">
                <img src="http://schedule.mvm.bg/profile/{{image}}" class="img-circle img-raised profile-pic">
            </li>
            <br>
            <li >
                <a class="info" id="side-tel">Telephone:</a>
            </li>
            <li >
                <a class="info" id="side-mail">Mail:</a>
            </li>
            <li >
                <a class="info">Profession:</a>
            </li>
            <li >
                <a class="info">About:</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->


    <!-- Mapbar -->
    <div id="mapbar-wrapper">
        <map></map>
       
    </div>
    <!-- /#Mapbar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid content">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <a (click)="Click()" class="pointer">
                    <i class="fa fa-bars fa-3x" aria-hidden="true"></i></a> -->
                    <!--<h1 style="display: inline;margin-left: 20px">Simple Sidebar</h1>-->
                    <div style="margin-bottom: 50px"></div>
                    	<router-outlet></router-outlet>
                        
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    
    </div>
</div>

