<div id="unlogged">
    <div class="row">
    <a routerLink ="/login" routerLinkActive="active" class="switch btn">Log in</a>
        <div id="login" class="signup">
            <form name="form" (ngSubmit)="sign.form.valid && signUp()" #sign="ngForm" novalidate>
                <img src="src/profile.svg" class="img-circle profile-pic">
                <div class="form-group" [ngClass]="{ 'has-error': sign.submitted && !username.valid }" style="margin-top: 30px">
                    <label class="login-label" for="username">User Name:</label>
                    <input type="text" class="form-control input-pad" id="username" name="username" required
                    [(ngModel)]="model.username" #username="ngModel">
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': sign.submitted && !email.valid }">
                    <label class="login-label" for="email">Email Address:</label>
                    <input type="text" class="form-control input-pad" id="email" name="email" required
                    [(ngModel)]="model.email" #email="ngModel">
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': sign.submitted && !pass.valid }">
                    <label class="login-label" for="pass">Password:</label>
                    <input type="text" class="form-control input-pad" id="pass" name="pass" required
                    [(ngModel)]="model.pass" #pass="ngModel">
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': sign.submitted && !pass.valid }">
                    <label class="login-label" for="pass">Confirm Password:</label>
                    <input type="text" class="form-control input-pad" id="confpass" name="confpass" required
                    [(ngModel)]="model.confpass" #confpass="ngModel" 
                    [ngClass] = "passCheck ? '' : 'invalid'"
                    (keyup)="onKey(confpass.value)">
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="signup-btn btn">Sign up</button>
                    
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
    </div>
</div>